*{

  box-sizing: border-box;
  margin: 0;
  padding:0:
}

ul{

  list-style: none;
  padding-left: 0;
}
.wrapper{

  position: fixed;
  top: 0;
  left:0;
  width: 100vw ;
  height: 100vh;
  background: rgba(0,0,0, 0.7)
}
.infoPage{

  width: 70vw;
  height: 90vh;
  min-width: 645px;
  min-height: 445px;
  background-color: red;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  padding-bottom: 10px;
}

.infoPage .head{
  height: 50px;
  text-align: center;
  position: relative;
  padding: 5px;
}

.infoPage .head .fa-arrow-left{

  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}

.infoPage .body{

  width: 100%;
  height: calc( 100% - 50px);
  display: flex;
}

.infoPage .body > *{

  height: 100%;
  padding : 0 20px;
}

.infoPage .left{

  border-right: 1px solid black
}



.infoPage .right .description{

  height: 40%;
  padding-bottom: 10px;
  border-bottom: 0.5px solid black;
}
.infoPage .right .description p {

  height: calc(90% - 10px);
  overflow-y: scroll;
}
.infoPage .cast{

  height: 60%;
  padding-top: 10px;

}
.infoPage .cast .actors{
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  overflow-y: scroll;
}

.infoPage .cast .attore{
  width: 100px;
  padding: 5px;

}

.infoPage .right .attore img{

  width: 100%;
}


.fa-star.accesa{
  color:yellow
}
